<div class="row">
    <div class="jumbotron">
        <div class="panel panel-info text-left">
            <div class="panel-heading">

                <div class="col-xs-6 col-lg-6" style="border: 2px solid black;padding-left: 65px;">
                    <h2>{{title}}</h2>
                    <img src='{{book.author_image}}' width="300" height="300" alt="{{author}}">
                    <div class="panel-body">
                        <em class="pull-right">
          <h3>
       <p>Price: ${{price}}</p></h3>
      <p>Rating: {{rating}} out of 5</p>
      </em>


                        <h4>Short Description</h4>
                        <p>{{shortDescription}}</p>
                        <h4>Long Description</h4>
                        <p>{{longDescription}}</p>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <a ui-sref="books" class="btn btn-primary btn-lg">Hide</a>
</div>
